# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
dist/
build/

# Virtual environments
venv/
ENV/
env/
.env/
.venv/

# PyCharm specific files
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# Test and coverage directories
.coverage
.tox/
.nox/
.pytest_cache/
.coverage.*
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
