PyQt5~=5.15.11
requests~=2.32.3
dotenv~=0.9.9
python-dotenv~=1.1.0
transformers~=4.50.3
torch~=2.6.0
accelerate~=1.6.0
openai~=1.70.0
pandas~=2.2.3
beautifulsoup4~=4.13.3
selenium~=4.31.0
networkx~=3.4.2
pyvis~=0.3.2
pathway~=0.post1